header{
    border-radius: 2px;
        border-color: rgb(12, 12, 12);
        border-style: solid;
    font-style: italic;
    text-align: center;
    height: 50px;
    background-color: firebrick;
    color:yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
   margin-left: 0px;
   padding-bottom: 60px;
}
.des{
    color:rgb(61, 63, 75);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.container1{
    word-spacing: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
        border-color: darkblue;
        border-style: solid;
      background-color: rgb(50, 90, 163);
      color: snow;
}
.class{
    display: inline-block;
   
    border-radius: 5px;
    border-color: maroon;
    background-color: rgb(59, 175, 252);
    height:400px;
    width: 420px;
    color:rgb(61, 63, 75);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 150px;
   padding: 20px;
}
button.hover{
    background-color: tomato;
    
}
.head{
    color: firebrick;
}
#1{
    text-align: center;
    background-color: whitesmoke;
    height:20px;
    width: 30px;
}

footer{
    text-align: right;
    font-weight: bold;
}
.new4{
    border: 1px solid red;
  }
.new{
    border: 10px solid cornflowerblue;
  }
  .about{
    display: inline-block;
    height:100px;
    width: 620px;
    margin-top: 10px;
    margin-right: 0px;
   padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: sandybrown;
    color: rgb(10, 27, 59);

}
